<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.paste_it">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PasteItApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/paste_it"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/paste_it"
            android:launchMode="singleTop"
            android:theme="@style/LoginActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/paste_it"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PasteItActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.StatusBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ImageUploadService"
            android:exported="false" />
        <service
            android:name=".service.ImageImportService"
            android:exported="false" />
        <service
            android:exported="false"
            android:name=".service.NotificationService"/>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar"/>
        <activity
            android:name=".ShareActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImagePagerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".PasteItActivity"
            android:theme="@style/AppTheme.StatusBar"/>
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.StatusBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="app.paste_it.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".PasteItWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/paste_it_widget_info" />
        </receiver>
        <receiver android:name=".receivers.PasteItNotification"
            android:enabled="true"
            />

        <activity android:name=".PasteItWidgetConfigureActivity"
            android:theme="@style/AppTheme.StatusBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.PasteItWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />
    </application>

</manifest>